@page
@model WebApp.Pages.Auth.ForgotPasswordModel
@{
    Layout = "~/Pages/Shared/_AuthPagesLayout.cshtml";
    ViewData["Heading"] = "Forgot Password?";

}
<form method="post">
    <div class="d-flex flex-column gap-24">
        <div class="d-flex flex-column gap-8">
            <label asp-for="Input.Email" class="text-primary-dark">
                <span class="bodySmallBold">Email</span>
                <span class="bodySmall">(required)</span>
            </label>
            <div>
                <input asp-for="Input.Email"
                       type="email"
                       class="form-control body padding-trbl-16"
                       placeholder="Enter your email" />
            </div>
            <span asp-validation-for="Input.Email" id="forgotPasswordEmailSpan" class="text-invalid bodySmallBold"></span>
        </div>

        <div class="mb-5">
            <button type="submit" class="es-button bodyBold text-white text-decoration-none w-100">
                Send Reset Link
            </button>
        </div>
        <div class="text-center">
            <a href="Login" class="bodySmall text-primary-light">Back to login</a>
        </div>
    </div>
</form>
<script src="~/js/scripts/auth/forgotpassword.js"></script>