@page
@model WebApp.Pages.Auth.ResetPasswordModel
@{
    Layout = "~/Pages/Shared/_AuthPagesLayout.cshtml";
    ViewData["Heading"] = "Reset Your Password";


}

<form method="post" id="reset-password-form">
    <div class="d-flex flex-column gap-24">
        <!-- Email Field -->
        <div class="d-flex flex-column gap-8">
            <label for="password" class="text-primary-dark">
                <span class="bodySmallBold">Password</span>
                <span class="bodySmall">(required)</span>
            </label>
            <div class="d-flex flex-column gap-8">
                <input type="password"
                       asp-for="ResetPasswordRequest.NewPassword"
                       id="password"
                       class="form-control body padding-trbl-16"
                       aria-required="true"
                       placeholder="Enter your password"
                       required />
                <span class="text-invalid bodySmallBold" asp-validation-for="ResetPasswordRequest.NewPassword"></span>

            </div>
        </div>

        <!-- Show Password Toggle -->
        <div class="form-check form-switch">
            <label class="form-check-label bodySmall" for="passwordSwitch">Show password</label>
            <input class="form-check-input"
                   type="checkbox"
                   role="switch"
                   id="passwordSwitch"
                   aria-label="Toggle password visibility" />
        </div>

        <div class="d-flex flex-column gap-8">
            <label for="password" class="text-primary-dark d-flex">
                <span class="bodySmallBold">Password strength</span>
                <span class="bodySmall ms-auto" id="password-strength-text">Poor</span>
            </label>
            <div class="progress" id="es-progress">
                <div class="progress-bar bg-ec-red"
                     role="progressbar"
                     id="es-progress-bar"
                     style="width: 25%"
                     aria-valuenow="25"
                     aria-valuemin="0"
                     aria-valuemax="100"></div>
            </div>
        </div>

        <!-- Password Field -->
        <div class="d-flex flex-column gap-8">
            <label for="password" class="text-primary-dark">
                <span class="bodySmallBold">Confirm password </span>
                <span class="bodySmall">(required)</span>
            </label>
            <div class="d-flex flex-column gap-8">
                <input type="password"
                       asp-for="ResetPasswordRequest.ConfirmPassword"
                       id="confirm-password"
                       class="form-control body padding-trbl-16"
                       aria-required="true"
                       placeholder="Enter your password"
                       required />
            </div>

            <span class="text-invalid bodySmallBold" asp-validation-for="ResetPasswordRequest.ConfirmPassword"></span>
           
        </div>

        <!-- Submit Button -->
        <div class="">
            <button type="submit" class="es-button bodyBold text-white text-decoration-none w-100">Continue</button>
        </div>
    </div>
</form>

<script src="~/js/scripts/auth/resetpassword.js"></script>